video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
  background-color: rgba(88, 85, 77, 0.6);
}

.container {
  display: flex;
  justify-content: center;
}

.search {
  width: 80%;
  padding: 12px 22px;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px white;
  color: bisque;
  }

button {
    border: none;
    height: 100%;
    box-shadow: inset 0 0 0 2px rgba(88, 85, 77);
  }

  .searchForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .cuisine{
    text-transform: capitalize;
  }

  h1, h2, h3, p, ul {
    font-family: 'Martian Mono', monospace;
    color: bisque;
  }

  .list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }
  .dishType{
    display:flex;
    flex-direction: row;
    font-size: 10px;
    list-style: none;
  }
  li{
    padding: 2px;
    background-color: rgba(88, 85, 77);
  }